Addition<br />


<form action="AddDisplay" method="post">
    FirstNumber<input type="number" name="a" /><br />
    FirstNumber<input type="number" name= "b" /><br />
    <input type="submit" />
   
</form>